---
import Container from "../components/Container.astro";
import Blog from "../components/Blog.astro";
import Reads from "../components/Statuses/Reads.svelte";
import Tunes from "../components/Statuses/Tunes.svelte";
import Pods from "../components/Statuses/Pods.svelte";
import Books from "../components/Statuses/Books.svelte";
import Working from "../components/Statuses/Working.svelte"
---

<html>
  <style>
    h2 {
      text-align: right;
    }
    section {
      height: fit-content;
      padding-bottom: 20px;
    }
  </style>
  <Container>
    <section>
      <h2>recent posts</h2>
      <Blog count={3} />
    </section>
    <section>
      <h2>what I'm up to</h2>
      <div class="current">
        <Reads client:load />
        <Tunes client:load />
        <Pods client:load />
        <Books client:load />
        <Working client:load />
      </div>
    </section>
  </Container>
</html>
