---
import Container from "../components/Container.astro";
import Current from "../layouts/Current.astro";
import Blog from "../components/Blog.astro";
---

<html>
  <style>
    h2 {
      text-align: right;
    }
  </style>

  <Container>
    <section>
      <h2>recent posts</h2>
      <Blog />
    </section>
    <section>
      <h2>what I'm up to</h2>
      <Current />
    </section>
  </Container>
</html>
