---
import { Icon } from "astro-icon/components";
import { default as pocket_api } from "pocket-api";
import _ from "lodash";
import * as cheerio from "cheerio";

const key = "110178-be2d202ca5bb7ad299b7753";
let pocket = new pocket_api(key, "localhost:4321/redirect");

const token = await pocket.getRequestToken();
pocket.access_token = "1e7c8341-89fa-6454-c3d5-775c56";

const articles = await pocket
  .getArticles({
    sort: "newest",
    count: "10"
  })
  .then((o) => Object.values(o.list));

const get_title = async (article) => {
  const url = new URL(article.given_url);
  const title = await fetch("https://" + url.hostname)
    .then((r) => r.text())
    .then((html) => {
      const doc = cheerio.load(html);
      const re = /[^a-z,'A-Z\d\s:]/;
      return doc("head title").text().split(re)[0];
    });
  return title;
};
---

<div>
  <details>
    <summary> <h3>recent reads</h3></summary>
    <ul>
      {
        articles.map((a) => (
          <li>
            <a href={a.resolved_url}>
              {a.resolved_title.length > 0 ? a.resolved_title : a.given_title}
            </a>{" "}
            •{" "}
            <span>
              {a.domain_metadata != undefined
                ? a.domain_metadata.name
                : get_title(a)}
            </span>
          </li>
        ))
      }
    </ul>
  </details>
</div>
