---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import "iconify-icon";
---

<header>
  <nav>
    <h2>
		{SITE_TITLE}
	</h2>
    <div class="internal-links">
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
	  <HeaderLink href="/contact">contact</HeaderLink>
      <HeaderLink href="/cv">CV</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0;
    background: var(--background);
	padding-bottom: 2em;
	padding-top:1em;
	border-bottom: 1.5px solid var(--accent-dark);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.5em;
    color: var(--text);
    text-decoration: none;
  }
  nav a.active {
    border-bottom: 2px dotted var(--accent);

  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
